<div class="jumbotron">
	<div class="page-header">
  		<h1>About us <small>and what we are going to do</small></h1>
		<p>A website which allows consumers to search for sales, special offers, deals from ''bricks & mortar' retailers in their area</p>
		<p>Businesses can advertise for free on the site</p>
	</div>
</div>