<div class="jumbotron">	
	<h1>Boaster.co.nz <span class="glyphicon glyphicon-shopping-cart"></span></h1>
	<ln>Up to date sales and deals in your area</ln>

		<p>Click here to <%= link_to "Signup", "#", class: "btn btn-success btn-lg	" %></p>
	<p>Click here to <%= link_to "Log-in", "#" , class: "btn btn-warning btn-lg" %></p>
</div>